body {
    margin: 60px auto;
    width: 70%;
    background-color: #DACCC9;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
nav ul, footer ul {
    padding: 5px;
    list-style: none;
    font-weight: bold;
  background-color: #f2f0f4;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #819685;
}
a:hover {
    color: #2b392f;
}
h1 {
    font-size: 3em;
  color: #2b392f;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.container {
  background-color: #f2f0f4;
  padding: 5px;
}
