body {
    margin: 60px auto;
    width: 75%;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
nav ul, footer ul {
    padding: 3%;
    list-style: none;
    font-weight: bold;
  border-radius: 5px 5px 3px 3px;
  text-align:right;
  
}
nav ul li {
    display: block;
  padding: 8%;
}
footer ul li{
  padding: 1%;
}

a {
    text-decoration: none;
    color: #2b392f;
}
a:hover {
    color: #819685;
}
h1 {
    font-size: 2.5em;
  color: #2b392f;
}
p {
    font-size: 1em;
    line-height: 1em;
    color: #333;
}
footer {
    font-size: 1em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

topcontainer {
  border-top: 2px solid rgba(47,33,36,0.4);
  border-left: 2px solid rgba(43,57,47,0.4);
  border-radius: 5px 5px 3px 3px;
  display:inline;
}
posts{
    padding: 5px;
}
.navig{
  width: 15%;
  padding:1%;
  float: left;
  margin-top:2%;
}
.logo{
  width: 81%;
  padding:1%;
  float:left;
  overflow: hidden;
}
img{
  width:100%;
}
