body {
    margin: 60px auto;
    width: 60%;
  font-family: 'News Cycle', sans-serif;
}
nav{
  text-align: left;
  padding: 15px 0;
  margin: 0 0;
  border-top: 2px solid rgba(43,57,47,0.4);
}

nav ul{
  font-weight: bold;
  list-style:none;
   margin: 1% 10px;
  padding:0;
}

nav li {
  display:inline; 
  padding: 0 2% ;
  margin: 1%;
  width:100%;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    color: #333300;
}
footer ul {
    list-style: none;
  margin:1%;
}
footer li {
 display: inline-block; 

}

footer {
    font-size: 1em;
  font-weight: bold;
  border-top: 2px solid rgba(43,57,47,0.4);
  text-align:center;
  color: #470047;
  padding: 0;
}

footer p{
  color: #470047;
  margin-bottom: 2%;
  margin-top :0;
  padding: 0;
}

a {
    text-decoration: none;
    color: #660066;
}
a:hover {
    font-weight: bold;
    color: #00B88A;
}
nav ul li a{
    color:#1F3D00;
}
h1 {
  color: #1F3D00;
 font-family: 'News Cycle', sans-serif;
}



ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


posts{
    padding: 5px;
}
.navig{
  width: 100%;
  border-top: 2px solid rgba(43,57,47,0.4);
  margin-bottom:0;
  padding:0;
  display:inline-block;
}

.banner img{
  width:100%;
  padding:0;
    border-bottom: 2px solid rgba(43,57,47,0.4);
  border-top: 2px solid rgba(43,57,47,0.4);
  margin-bottom:3%;
}
.pagination-item{
  font-size:1.5em;
  color: #470047;
  font-family: 'News Cycle', sans-serif;
}
.post-date{
  font-weight: 550;
}
.room{
      font-size:2em;
  color: #660033;
 font-family: 'News Cycle', sans-serif;
  margin-right: 1%;
  margin-left:1%;

}
.pagination{
  width: 100%;
  overflow: hidden;
  text-align:center;
}
#twitter_icon img, #email_icon img{
  width:25px;
  padding-top:1%;
  margin:0;
}

#projects-list{
  margin: 0;
  padding:0;
  list-style:none;
}
#projects-list li {
  width:60%;
  margin: 2.5%;
}

.screenshot {
  max-width: 100%;
}