<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include analytics.html %}
		</head>
		<body>
			<div class="container">
				<img src="https://cloud.githubusercontent.com/assets/12255870/9697193/9d57a90a-5340-11e5-8a27-483c2e20d284.png"
				alt="logo: bright ideas by darya o.">
			</div>
			
			<nav>
	    		<ul>
	    			<li><a href="/">blog</a></li>
		        	<li><a href="/about">about</a></li>
	        		<li><a href="/archive">archive</a></li>
	        		<li><a href="/cv">cv</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:dig14step@gmail.com">email me</a></li>
				</ul>
			</footer>
		</body>
	</html>
